@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* CSS reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --clr-bcg: #e63946;
    --clr-bcg2: #efffef;
    --clr-btn: #5ed2b7;

    --clr-text: #f1faee;
    --clr-subText: #5f669c;

    --clr-transition: #f97c67;
    --clr-click: #9bc546;

    --clr-1: #e63946;
    --clr-2: #f1faee;
    --clr-3: #a8dadc;
    --clr-4: #457b9d;
    --clr-5: #1d3557;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    /* background-color: black; */
}

/* navbar */
.navbar {
    position: fixed;
    width: 100%;
    padding: 1.5rem 0;
    background: var(--clr-bcg);
}

.maxWidth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 6rem;
}

.navbar__logoLink {
    font-size: 2rem;
    font-weight: 700;
    color: #f1faee;
}

.navbar__item {
    display: inline-block;
    position: relative;
    list-style: none;
}

.navbar__item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.2rem;
    bottom: -0.5rem;
    left: 0;
    background-color: #f1faee;
    transition: all 0.5s ease;
}

.navbar__item:hover::after {
    width: 100%;
}

.navbar__link {
    margin: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #f1faee;
}

/* home */
.home {
    display: flex;
    height: 100vh;
    min-height: 50rem;
    min-width: 80rem;
    color: #e63946;
}

.home__content {
    margin: auto 40rem auto 0;
}

.home__contentText1 {
    font-size: 1.8rem;
    font-weight: 500;
}

.home__contentText2 {
    margin-left: 0.5rem;
    font-size: 3.5rem;
    font-weight: 700;
}

.home__contentText3 {
    margin-left: 1.5rem;
    font-size: 2.5rem;
    font-weight: 500;
}
